@import 'media.scss';
@import 'variable.scss';

body
{
	// background: blue;
	font-family: 'Poppins', sans-serif;
}

#boot-navigation
{
	z-index: 9999;
	.navbar
	{
		border-radius: 0px;
		position: absolute;
		top: 30px;
		width: 100%;
		background-color: rgba(black,0);
		border:none;
		padding: 5px;
		z-index: 999;
		.navbar-header
		{
			.toggler.navbar-toggle.collapsed
			{
				border:none;
				transition:1s all;
				.icon-bar
				{
					background-color: white !important;
					transition:1s all;
				}
				&:hover
				{
					transform:scale(1.2,1.2);
					background-color: transparent !important;
				}
				&:focus
				{
					background-color: transparent !important;
				}
				.icon-bar:nth-child(2)
				{
					background-color: white !important;
					transform:rotate(00deg);
				}
				.icon-bar:nth-child(3)
				{
					opacity: 1;
					background-color: white !important;

				}
				.icon-bar:nth-child(4)
				{
					background-color: white !important;
					transform:rotate(00deg);
				}

			}
			.toggler.navbar-toggle
			{
				border:none;
				transition:1s all;
				.icon-bar
				{
					background-color: white;
					transition:1s all;
				}
				.icon-bar:nth-child(2)
				{
					background-color: white !important;
					transform:rotate(48deg);
					transform-origin:5px 0px;
				}
				.icon-bar:nth-child(3)
				{
					opacity: 0;
					background-color: white !important;

				}
				.icon-bar:nth-child(4)
				{
					background-color: white !important;
					transform:rotate(-48deg);
					transform-origin:0px 0px;


				}
				&:hover
				{
					transform:scale(1.2,1.2);
					background-color: transparent !important;
				}
				&:focus
				{
					background-color: transparent !important;
				}
			}
		}
		.nav
		{
			position: relative;
			background: rgba($dark_red,.6);
			border-radius: 0px;
			box-shadow: 1px 1px 10px rgba(black,.6);
			&:after
			{
				content:'';
				position: absolute;
				top: 0px;
				left: -20px;
				border:10px solid rgba($dark_red,.6);
				border-bottom-width: 25px;
				border-top-width: 25px;
				// border-top-color:   darken($yellow,0);
				// border-right-color:    darken($yellow,0);
				border-left-color: transparent ;
				border-bottom-color: transparent;
			}
			.active
			{
				position: relative;
				a
				{
					background-color: transparent;
				}
				.line
				{
					z-index: 99;
					left: 0px;
					position: absolute;
					bottom: 0px;
					// height: 100%;
					background-color: red;
					border-top: 3px solid $yellow ;
					transition:.5s all;
					@include max(767px)
					{
						display: none;
					}
				}
			}
			li
			{
				&.dropdown
				{
					.dropdown-menu
					{
						opacity: 0;
						transition:5s all;
					}
				}
				transition:1s all;
				&.dropdown.open
				{
					transition:1s all;
					.dropdown-menu
					{
						transition:5s all;
						background: #ddd;
						color: black;
						opacity: 1;
						li
						{
							a
							{
								color: black;
							}
						}
					}
					.dropdown-toggle
					{
						transition:1s all;
						background-color: darken(#c5252e,5);
					}
				}
				&.dropdown.open
				{
					background-color: darken(#c5252e,20);
				}
				a
				{
					color: white;
				}
			}
		}
	}
}
#slider
{
	height: 100vh;
	width: 100%;
	position: relative;
	background-image: url('../images/clock.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	@include max(750px)
		{
			height: 50vh;
		}
	// overflow: hidden;
	// .slick-list
	// {
	// 	height: 100%;
	// 	.slick-track
	// 	{
	// 		height: 100%;
	// 	}
	// }
	.images-collection
	{
		height: 100%;
		width: 100%;
		// .slick-arrow
		// {
		// 	// position: absolute;
		// 	top: calc(95% - 10px);
		// 	background: #ada996; /* fallback for old browsers */
  // 			background: -webkit-linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* Chrome 10-25, Safari 5.1-6 */
  // 			background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		// 	padding: 20px;
		// 	// display: flex;
		// 	// justify-content:center;
		// 	// align-items:center;
		// 	// border:1px solid white;
		// }
		// .slick-arrow.slick-prev
		// {
		// 	left: calc(95% - 32px);
		// 	// background-color: green;
		// 	z-index: 99;
		// 	background: #ada996; /* fallback for old browsers */
  // 			background: -webkit-linear-gradient(to left, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* Chrome 10-25, Safari 5.1-6 */
  // 			background: linear-gradient(to left, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		// 	&:before
		// 	{
		// 		content:'\f0d9';
		// 		font-family: 'Font Awesome\ 5 Free';
		// 		font-weight:600;
		// 		font-size: 25px;
		// 		color: black;
		// 		top: -10px;
		// 		position: relative;
		// 		left: -5px;
		// 	}
		// }
		// .slick-arrow.slick-next
		// {
		// 	right: 20px;
		// 	&:before
		// 	{
		// 		content:'\f0da';
		// 		font-family: 'Font Awesome\ 5 Free';
		// 		font-weight:600;
		// 		text-shadow:0px 10px 20px black;
		// 		font-size: 25px;
		// 		color: black;
		// 		top: -10px;
		// 		position: relative;
		// 		left: -5px;
		// 	}
		// }
		.image-wrapper
		{
			height: 100%;
			width: 100%;
			position: relative;
			.all-wrapper
			{
				position: absolute;
				top: calc(50% - 40px);
				display: flex;
				justify-content: flex-end;
				align-items: center;
				z-index: 888;
				right: 0px;
				.search-wrapper
				{
					margin: 10px 25px;
					margin-top: -30px;
					// width: 35%;
					background: rgba($red,.3);
					// border:1px solid rgba(white,.3);
					padding: 10px 15px;
					border-radius: 3px;
					box-shadow: 0px 3px 24px rgba(black,.5);
					.main-text
					{
						color: white;
						letter-spacing: 2px;
						h2
						{
							font-weight: 600;
							margin: 15px 0px;
						}
					}
					.all-inputs
					{
						display: flex;
						.dropdown
						{
							box-shadow: 0px 12px 10px -10px black;
							button
							{
								border-top-right-radius: 0px;
								border-bottom-right-radius: 0px;
								
							}
						}
						input
						{
							box-shadow: 0px 3px 10px black;
							border-top-left-radius: 0px;
							border-bottom-left-radius: 0px;
						}
					}
					.search
					{
						// border:1px solid white;
						margin: 10px 0px;
						background-color: rgba($blue,.9);
						float: right;
						color: white;
					}
				}
			}
			.image
			{
				height: 100%;
				width: 100%;
				img
				{
					height: 100%;
					width: 100%;
					// object-fit:contain;
				}
			}
			.img-text
			{
				
				// perspective:1000px;
				padding-left: 30px;
				position: absolute;
				top: 0px;
				left: 0px;
				// background: rgba(#a30000,.5);
				// color: black;
				height: 100%;
				width: 30%;
				display: flex;
				justify-content:flex-start;
				align-items:flex-end;
				color: white;
			    transition:1s cubic-bezier(1, -0.5, 0, 2);
			    z-index: 999;
			    // overflow: hidden;
				.text-wrapper
				{
					// padding-bottom: 80px;
					// transform:translateX(-100%) translateY(100%);
					width: 100%;
					transition:1s all;
					margin-bottom: 50px;
					@include max(750px)
					{
						width: 100%;
					}
					@include max(856px)
					{
						width: 70%;
					}
					// overflow: hidden;
					.text-head
					{

						
						h2
						{
							font-size: 24px;
							text-shadow:0px 4px 2px black;
							font-weight: 600;
							line-height: 35px;
							@include max(750px)
							{
								font-size: 25px;
								line-height: 35px;
							}
						}
					}
					.text-detail
					{
						
						h5
						{
							font-size:19px;
							line-height: 30px;
							text-shadow:0px 4px 2px black;
							@include max(750px)
							{
								font-size: 18px;
								line-height: 25px;
							}
						}
					}
					.slide-btn
					{
						color: white;
						font-weight: 400;
						background: rgba(white,.2);
						border:1px solid white;
						@include max(856px)
							{
								background: rgba(#e62739,1);
							}
					}
				}
			}
			.curve-back
			{
				position: absolute;
				top: 0px;
				width: 100%;
				height: 100%;
				// background:url(../images/shape.png);
				background-repeat: no-repeat;
				background-position: bottom left;
				background-size: 28%;
				-webkit-clip-path: circle(49% at 0% 110%);
				clip-path: circle(49% at 0% 110%);
				z-index: 9;
				transition:1s all;
				background: rgba($light_red,.6);

				@include max(856px)
							{
								display: none;
							}
			}
		}
		// .slick-active
		// {
		// 	.img-text
		// 	{

		// 		.text-wrapper
		// 		{
		// 			transform: translateX(0%) translateY(-15%);
		// 			@include max(856px)
		// 			{
		// 				width: 70% !important;
						
		// 			}
		// 			@include max(1000px)
		// 			{
		// 				width: 30%;
		// 				transform: translateX(0%) translateY(10%);
		// 			}
		// 		}
		// 		// .text-head
		// 		// {
		// 		// 	transform:rotateY(0deg) !important;
		// 		// 	transform-origin:0px 0px;
		// 		// }		
		// 		// .text-detail
		// 		// {
		// 		// 	transform:rotateY(00deg) !important;
		// 		// 	transform-origin:0px 0px;
		// 		// }
		// 	}
		// 	.curve-back
		// 	{
		// 		position: absolute;
		// 		top: 0px;
		// 		width: 100%;
		// 		height: 100%;
		// 		-webkit-clip-path: circle(43% at 5% 100%);
		// 		clip-path: circle(43% at 5% 100%);
		// 	}
		// }
	}
	
}
#about_us
{
	// height: 100vh;
	width: 100%;
	padding: 30px 0px;
	.banner-text-inner
	{
		h1
		{
			color:$blue;
			margin-bottom: 33px;
			font-size: 40px;
		}
		p
		{
			margin-bottom: 43px;
			font-size: 16px;
		}
		.btn
		{
			background: #f77ade;
			border-color: #f77ade;
			color: #fff;
		}
		.banner-shape-wrap
		{
			.banner-shape-inner
			{
				// position: relative;
				// height: 100%;
				img
				{
					max-width: 100%;
		    		height: auto;
				}
				.shape
				{
					position: absolute;
					-webkit-animation-duration: 3s;
					animation-duration: 3s
				}
				.shape1
				{
					top: 20%;
					left: 23%;
				}
				.shape2
				{
					top: 100%;
					left: 20%;
				}
				.shape3
				{
				    top: 80%;
		    		left: 50%;
				}
				.shape4
				{
					top: 9%;
					right: 0%;
				}
				.shape5
				{
					top: 30%;
					left: 66%;
				}
				.shape6
				{
					top: 35%;
					left:0%;
				}
				.shape7
				{
					top: 103%;
					right: -6%;
				}
				.rotate3d
				{
					-webkit-animation: rotate3d 2s linear infinite;
					animation: rotate3d 1s linear infinite;
					animation-duration: 1s;
				}
				.rotate2d
				{
					-webkit-animation: rotate2d 2s linear infinite;
					animation: rotate2d 1s linear infinite;
					animation-duration: 1s;
				}
				.rotate-2d
				{
					-webkit-animation: rotate-2d 2s linear infinite;
					animation: rotate-2d 1s linear infinite;
					animation-duration: 1s;
				}
			}
		}
	}
	
}


@keyframes rotate3d
{
	0%
	{
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	100%
	{
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}
@keyframes rotate2d
{
	0%
	{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%
	{
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotate-2d
{
	0%
	{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%
	{
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

#form_fill
{
	margin: 25px 0px;
	margin-bottom: 0px;
	padding:25px 0px;
	background:linear-gradient(to bottom right, rgba(24, 48, 89, 0.9), rgba(24, 48, 89, 0.9)), url("../images/lamp.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	color: black;
	.btn-file 
	{
    position: relative;
    overflow: hidden;
	}
	.btn-file input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    font-size: 100px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    outline: none;
	    background: white;
	    cursor: inherit;
	    display: block;
	}

	#img-upload{
	   height: 100px;
	   width: 100px;
	   object-fit:cover;
	}
	#date
	{
	line-height: inherit;
	}
	form
	{
		margin-top: 30px;
		// border:1px solid white;
		border-radius: 3px 50px 3px 50px;
		background-color: rgba(white,.9);
		// border-right: transparent;
		// border-left-color: transparent;
		box-shadow: 0px 0px 24px black;
		padding: 30px 30px;
	}
	.gender
	{
		font-size: 14px;

	}

	.title
	{
		position: relative;
		h2
		{
			margin-bottom: 25px;
			position: relative;
			margin-top: 0px;
			&:after
			{
				content:'';
				position: absolute;
				bottom: -3px;
				border-bottom: 1px solid $red;
				width: 170px;
				left: 0px;
			}
			&:before
			{
				content:'';
				position: absolute;
				bottom: -7px;
				border-bottom: 1px solid $red;
				width: 160px;
				left: 0px;
			}
		}
		&:after
		{
				content:'';
				position: absolute;
				bottom: -11px;
				border-bottom: 1px solid $red;
				width: 150px;
				left: 0px;
		}
	}
	
	.form-group
	{
		margin: 10px 0px;

	}
	button
	{
		margin-top:10px;
	}
	.form-image
	{
		background-image: url('../images/shape.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		display: flex;
		justify-content:center;
		align-items:center;
		height: 550px;
	}
}


#footer
{
	background-color: #d82727;
	padding: 15px 0px;
	.flexbox-container {
  display: flex;
}

.flexbox-container--row {
  flex-direction: row;
}

.flexbox-container--align-end {
  justify-content: flex-end;
}

.main-content {
  flex: 1;
}

.main-footer {
  background: transparent;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 15px 0 20px 0;
}

.main-footer:before {
  background: #c2ca09;
  border-radius: 50%;
  content: "";
  display: block;
  height: 100px;
  left: 50%;
  margin: -40px 0 0 -50px;
  position: absolute;
  width: 100px;
  z-index: -1;
}

.main-footer a {
  color: #fff;
  text-decoration: none;
}

.main-footer__company-logo {
  margin-bottom: 24px;
  width: 160px;
  height: 100px;
}

.main-footer__company-title {
  background: #16425c;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 26px;
  padding: 4px 12px;
}

.main-footer__company-address {
  margin-bottom: 18px;
}

.main-footer__appointment-advice {
  color: #fff;
  margin-bottom: 20px;
}

.main-footer__column {
  flex: 0 0 33.333%;
}

.main-footer__fb-link {
  background: #fff;
  border-radius: 50%;
  display: flex;
  font-size: 1.5em;
  height: 24px;
  line-height: 24px;
  width: 24px;
  align-items:center;
  justify-content:center;	
}

.main-footer__fb-link * {
  color: #16425c;
}

.main-footer__navigation {
  float: right;
  text-transform: uppercase;
}

.main-footer__navigation a {
  display: inline-block;
  margin-right: 26px;
}

.main-footer-map {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.main-footer-map.main-footer-map--open {
  height: 400px;
}

.main-footer-map__canvas {
  background: red;
  height: 400px;
}

// @media (max-width:767px){
// // 	h5 {
// //     padding-left: 0;
// //     border-left: transparent;
// //     padding-bottom: 0px;
// //     margin-bottom: 10px;
// // }
// }
}