$linear_blood:linear-gradient( rgba(239,61,50,1), rgba(239,61,50,0.7));
$font_family:'Montserrat', sans-serif;
$dark_blue: #441151;
$brinjal : #883677;
$yellow : #F18F01;
$gray : #5F4A60;
$red : #D10000;
$blue : #1d3461;
$dark_red: #183059;
$light_red : #183059;
