body {
  font-family: 'Poppins', sans-serif; }

#boot-navigation {
  z-index: 9999; }
  #boot-navigation .navbar {
    border-radius: 0px;
    position: absolute;
    top: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 5px;
    z-index: 999; }
    #boot-navigation .navbar .navbar-header .toggler.navbar-toggle.collapsed {
      border: none;
      transition: 1s all; }
      #boot-navigation .navbar .navbar-header .toggler.navbar-toggle.collapsed .icon-bar {
        background-color: white !important;
        transition: 1s all; }
      #boot-navigation .navbar .navbar-header .toggler.navbar-toggle.collapsed:hover {
        transform: scale(1.2, 1.2);
        background-color: transparent !important; }
      #boot-navigation .navbar .navbar-header .toggler.navbar-toggle.collapsed:focus {
        background-color: transparent !important; }
      #boot-navigation .navbar .navbar-header .toggler.navbar-toggle.collapsed .icon-bar:nth-child(2) {
        background-color: white !important;
        transform: rotate(0deg); }
      #boot-navigation .navbar .navbar-header .toggler.navbar-toggle.collapsed .icon-bar:nth-child(3) {
        opacity: 1;
        background-color: white !important; }
      #boot-navigation .navbar .navbar-header .toggler.navbar-toggle.collapsed .icon-bar:nth-child(4) {
        background-color: white !important;
        transform: rotate(0deg); }
    #boot-navigation .navbar .navbar-header .toggler.navbar-toggle {
      border: none;
      transition: 1s all; }
      #boot-navigation .navbar .navbar-header .toggler.navbar-toggle .icon-bar {
        background-color: white;
        transition: 1s all; }
      #boot-navigation .navbar .navbar-header .toggler.navbar-toggle .icon-bar:nth-child(2) {
        background-color: white !important;
        transform: rotate(48deg);
        transform-origin: 5px 0px; }
      #boot-navigation .navbar .navbar-header .toggler.navbar-toggle .icon-bar:nth-child(3) {
        opacity: 0;
        background-color: white !important; }
      #boot-navigation .navbar .navbar-header .toggler.navbar-toggle .icon-bar:nth-child(4) {
        background-color: white !important;
        transform: rotate(-48deg);
        transform-origin: 0px 0px; }
      #boot-navigation .navbar .navbar-header .toggler.navbar-toggle:hover {
        transform: scale(1.2, 1.2);
        background-color: transparent !important; }
      #boot-navigation .navbar .navbar-header .toggler.navbar-toggle:focus {
        background-color: transparent !important; }
    #boot-navigation .navbar .nav {
      position: relative;
      background: rgba(24, 48, 89, 0.6);
      border-radius: 0px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6); }
      #boot-navigation .navbar .nav:after {
        content: '';
        position: absolute;
        top: 0px;
        left: -20px;
        border: 10px solid rgba(24, 48, 89, 0.6);
        border-bottom-width: 25px;
        border-top-width: 25px;
        border-left-color: transparent;
        border-bottom-color: transparent; }
      #boot-navigation .navbar .nav .active {
        position: relative; }
        #boot-navigation .navbar .nav .active a {
          background-color: transparent; }
        #boot-navigation .navbar .nav .active .line {
          z-index: 99;
          left: 0px;
          position: absolute;
          bottom: 0px;
          background-color: red;
          border-top: 3px solid #F18F01;
          transition: .5s all; }
          @media (max-width: 767px) {
            #boot-navigation .navbar .nav .active .line {
              display: none; } }
      #boot-navigation .navbar .nav li {
        transition: 1s all; }
        #boot-navigation .navbar .nav li.dropdown .dropdown-menu {
          opacity: 0;
          transition: 5s all; }
        #boot-navigation .navbar .nav li.dropdown.open {
          transition: 1s all; }
          #boot-navigation .navbar .nav li.dropdown.open .dropdown-menu {
            transition: 5s all;
            background: #ddd;
            color: black;
            opacity: 1; }
            #boot-navigation .navbar .nav li.dropdown.open .dropdown-menu li a {
              color: black; }
          #boot-navigation .navbar .nav li.dropdown.open .dropdown-toggle {
            transition: 1s all;
            background-color: #b02129; }
        #boot-navigation .navbar .nav li.dropdown.open {
          background-color: #6f151a; }
        #boot-navigation .navbar .nav li a {
          color: white; }

#slider {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("../images/clock.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden; }
  @media (max-width: 750px) {
    #slider {
      height: 50vh; } }
  #slider .images-collection {
    height: 100%;
    width: 100%; }
    #slider .images-collection .image-wrapper {
      height: 100%;
      width: 100%;
      position: relative; }
      #slider .images-collection .image-wrapper .all-wrapper {
        position: absolute;
        top: calc(50% - 40px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 888;
        right: 0px; }
        #slider .images-collection .image-wrapper .all-wrapper .search-wrapper {
          margin: 10px 25px;
          margin-top: -30px;
          background: rgba(209, 0, 0, 0.3);
          padding: 10px 15px;
          border-radius: 3px;
          box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.5); }
          #slider .images-collection .image-wrapper .all-wrapper .search-wrapper .main-text {
            color: white;
            letter-spacing: 2px; }
            #slider .images-collection .image-wrapper .all-wrapper .search-wrapper .main-text h2 {
              font-weight: 600;
              margin: 15px 0px; }
          #slider .images-collection .image-wrapper .all-wrapper .search-wrapper .all-inputs {
            display: flex; }
            #slider .images-collection .image-wrapper .all-wrapper .search-wrapper .all-inputs .dropdown {
              box-shadow: 0px 12px 10px -10px black; }
              #slider .images-collection .image-wrapper .all-wrapper .search-wrapper .all-inputs .dropdown button {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px; }
            #slider .images-collection .image-wrapper .all-wrapper .search-wrapper .all-inputs input {
              box-shadow: 0px 3px 10px black;
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px; }
          #slider .images-collection .image-wrapper .all-wrapper .search-wrapper .search {
            margin: 10px 0px;
            background-color: rgba(29, 52, 97, 0.9);
            float: right;
            color: white; }
      #slider .images-collection .image-wrapper .image {
        height: 100%;
        width: 100%; }
        #slider .images-collection .image-wrapper .image img {
          height: 100%;
          width: 100%; }
      #slider .images-collection .image-wrapper .img-text {
        padding-left: 30px;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        color: white;
        transition: 1s cubic-bezier(1, -0.5, 0, 2);
        z-index: 999; }
        #slider .images-collection .image-wrapper .img-text .text-wrapper {
          width: 100%;
          transition: 1s all;
          margin-bottom: 50px; }
          @media (max-width: 750px) {
            #slider .images-collection .image-wrapper .img-text .text-wrapper {
              width: 100%; } }
          @media (max-width: 856px) {
            #slider .images-collection .image-wrapper .img-text .text-wrapper {
              width: 70%; } }
          #slider .images-collection .image-wrapper .img-text .text-wrapper .text-head h2 {
            font-size: 24px;
            text-shadow: 0px 4px 2px black;
            font-weight: 600;
            line-height: 35px; }
            @media (max-width: 750px) {
              #slider .images-collection .image-wrapper .img-text .text-wrapper .text-head h2 {
                font-size: 25px;
                line-height: 35px; } }
          #slider .images-collection .image-wrapper .img-text .text-wrapper .text-detail h5 {
            font-size: 19px;
            line-height: 30px;
            text-shadow: 0px 4px 2px black; }
            @media (max-width: 750px) {
              #slider .images-collection .image-wrapper .img-text .text-wrapper .text-detail h5 {
                font-size: 18px;
                line-height: 25px; } }
          #slider .images-collection .image-wrapper .img-text .text-wrapper .slide-btn {
            color: white;
            font-weight: 400;
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid white; }
            @media (max-width: 856px) {
              #slider .images-collection .image-wrapper .img-text .text-wrapper .slide-btn {
                background: #e62739; } }
      #slider .images-collection .image-wrapper .curve-back {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 28%;
        -webkit-clip-path: circle(49% at 0% 110%);
        clip-path: circle(49% at 0% 110%);
        z-index: 9;
        transition: 1s all;
        background: rgba(24, 48, 89, 0.6); }
        @media (max-width: 856px) {
          #slider .images-collection .image-wrapper .curve-back {
            display: none; } }

#about_us {
  width: 100%;
  padding: 30px 0px; }
  #about_us .banner-text-inner h1 {
    color: #1d3461;
    margin-bottom: 33px;
    font-size: 40px; }
  #about_us .banner-text-inner p {
    margin-bottom: 43px;
    font-size: 16px; }
  #about_us .banner-text-inner .btn {
    background: #f77ade;
    border-color: #f77ade;
    color: #fff; }
  #about_us .banner-text-inner .banner-shape-wrap .banner-shape-inner img {
    max-width: 100%;
    height: auto; }
  #about_us .banner-text-inner .banner-shape-wrap .banner-shape-inner .shape {
    position: absolute;
    -webkit-animation-duration: 3s;
    animation-duration: 3s; }
  #about_us .banner-text-inner .banner-shape-wrap .banner-shape-inner .shape1 {
    top: 20%;
    left: 23%; }
  #about_us .banner-text-inner .banner-shape-wrap .banner-shape-inner .shape2 {
    top: 100%;
    left: 20%; }
  #about_us .banner-text-inner .banner-shape-wrap .banner-shape-inner .shape3 {
    top: 80%;
    left: 50%; }
  #about_us .banner-text-inner .banner-shape-wrap .banner-shape-inner .shape4 {
    top: 9%;
    right: 0%; }
  #about_us .banner-text-inner .banner-shape-wrap .banner-shape-inner .shape5 {
    top: 30%;
    left: 66%; }
  #about_us .banner-text-inner .banner-shape-wrap .banner-shape-inner .shape6 {
    top: 35%;
    left: 0%; }
  #about_us .banner-text-inner .banner-shape-wrap .banner-shape-inner .shape7 {
    top: 103%;
    right: -6%; }
  #about_us .banner-text-inner .banner-shape-wrap .banner-shape-inner .rotate3d {
    -webkit-animation: rotate3d 2s linear infinite;
    animation: rotate3d 1s linear infinite;
    animation-duration: 1s; }
  #about_us .banner-text-inner .banner-shape-wrap .banner-shape-inner .rotate2d {
    -webkit-animation: rotate2d 2s linear infinite;
    animation: rotate2d 1s linear infinite;
    animation-duration: 1s; }
  #about_us .banner-text-inner .banner-shape-wrap .banner-shape-inner .rotate-2d {
    -webkit-animation: rotate-2d 2s linear infinite;
    animation: rotate-2d 1s linear infinite;
    animation-duration: 1s; }

@keyframes rotate3d {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
@keyframes rotate2d {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate-2d {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
#form_fill {
  margin: 25px 0px;
  margin-bottom: 0px;
  padding: 25px 0px;
  background: linear-gradient(to bottom right, rgba(24, 48, 89, 0.9), rgba(24, 48, 89, 0.9)), url("../images/lamp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: black; }
  #form_fill .btn-file {
    position: relative;
    overflow: hidden; }
  #form_fill .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block; }
  #form_fill #img-upload {
    height: 100px;
    width: 100px;
    object-fit: cover; }
  #form_fill #date {
    line-height: inherit; }
  #form_fill form {
    margin-top: 30px;
    border-radius: 3px 50px 3px 50px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 24px black;
    padding: 30px 30px; }
  #form_fill .gender {
    font-size: 14px; }
  #form_fill .title {
    position: relative; }
    #form_fill .title h2 {
      margin-bottom: 25px;
      position: relative;
      margin-top: 0px; }
      #form_fill .title h2:after {
        content: '';
        position: absolute;
        bottom: -3px;
        border-bottom: 1px solid #D10000;
        width: 170px;
        left: 0px; }
      #form_fill .title h2:before {
        content: '';
        position: absolute;
        bottom: -7px;
        border-bottom: 1px solid #D10000;
        width: 160px;
        left: 0px; }
    #form_fill .title:after {
      content: '';
      position: absolute;
      bottom: -11px;
      border-bottom: 1px solid #D10000;
      width: 150px;
      left: 0px; }
  #form_fill .form-group {
    margin: 10px 0px; }
  #form_fill button {
    margin-top: 10px; }
  #form_fill .form-image {
    background-image: url("../images/shape.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px; }

#footer {
  background-color: #d82727;
  padding: 15px 0px; }
  #footer .flexbox-container {
    display: flex; }
  #footer .flexbox-container--row {
    flex-direction: row; }
  #footer .flexbox-container--align-end {
    justify-content: flex-end; }
  #footer .main-content {
    flex: 1; }
  #footer .main-footer {
    background: transparent;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 15px 0 20px 0; }
  #footer .main-footer:before {
    background: #c2ca09;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100px;
    left: 50%;
    margin: -40px 0 0 -50px;
    position: absolute;
    width: 100px;
    z-index: -1; }
  #footer .main-footer a {
    color: #fff;
    text-decoration: none; }
  #footer .main-footer__company-logo {
    margin-bottom: 24px;
    width: 160px;
    height: 100px; }
  #footer .main-footer__company-title {
    background: #16425c;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 26px;
    padding: 4px 12px; }
  #footer .main-footer__company-address {
    margin-bottom: 18px; }
  #footer .main-footer__appointment-advice {
    color: #fff;
    margin-bottom: 20px; }
  #footer .main-footer__column {
    flex: 0 0 33.333%; }
  #footer .main-footer__fb-link {
    background: #fff;
    border-radius: 50%;
    display: flex;
    font-size: 1.5em;
    height: 24px;
    line-height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center; }
  #footer .main-footer__fb-link * {
    color: #16425c; }
  #footer .main-footer__navigation {
    float: right;
    text-transform: uppercase; }
  #footer .main-footer__navigation a {
    display: inline-block;
    margin-right: 26px; }
  #footer .main-footer-map {
    height: 0;
    overflow: hidden;
    transition: all 0.3s; }
  #footer .main-footer-map.main-footer-map--open {
    height: 400px; }
  #footer .main-footer-map__canvas {
    background: red;
    height: 400px; }

/*# sourceMappingURL=style.css.map */
